{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">

        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
        <div class="btns-preview">
        <a href='https://duconspace.com/collections/classic-cap' class="preview trending-link">
            <span class="preview-text">Trending Now</span>
            <span class="preview-icon">
                <i class="bi"> <svg width="20" height="20" viewBox="0 0 24 24" fill="white"
                    xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-fill=""
                    style="--darkreader-inline-fill: #fffede;">
                    <path
                        d="M8.4678 8.39457L8.46555 8.3964L8.46341 8.39848L8.4678 8.39457ZM18.4219 8.20804C18.3523 8.14099 18.2751 8.08232 18.1919 8.03323C18.0741 7.9639 17.9433 7.91946 17.8076 7.90268C17.672 7.88589 17.5343 7.89711 17.4031 7.93565C17.272 7.97418 17.1501 8.03921 17.0451 8.12671C16.9401 8.21421 16.8541 8.32233 16.7925 8.44437C16.448 9.12306 15.9729 9.72706 15.3945 10.2217C15.483 9.72332 15.5276 9.21813 15.5278 8.71194C15.5297 7.17205 15.1234 5.65915 14.3505 4.32731C13.5775 2.99546 12.4654 1.89223 11.1274 1.12994C10.98 1.04639 10.8138 1.00165 10.6444 0.99993C10.475 0.998205 10.3079 1.03955 10.1588 1.12009C10.0098 1.20062 9.88362 1.31771 9.7922 1.46036C9.70078 1.603 9.6471 1.76654 9.6362 1.93561C9.58024 2.88379 9.33236 3.81073 8.90759 4.66028C8.48282 5.50983 7.88999 6.2643 7.16503 6.87797L6.93456 7.06547C6.17648 7.57556 5.50546 8.20438 4.94726 8.92777C4.07958 10.0209 3.47851 11.3011 3.19172 12.667C2.90493 14.0328 2.94031 15.4467 3.29506 16.7964C3.6498 18.1462 4.31415 19.3948 5.23543 20.4431C6.1567 21.4915 7.30956 22.3107 8.60257 22.836C8.75439 22.898 8.91914 22.9217 9.08229 22.9051C9.24545 22.8884 9.40198 22.8318 9.5381 22.7403C9.67422 22.6488 9.78573 22.5252 9.8628 22.3805C9.93987 22.2357 9.98013 22.0742 9.98003 21.9102C9.97932 21.8041 9.96252 21.6988 9.93023 21.5977C9.7065 20.7567 9.64208 19.8813 9.74028 19.0166C10.6865 20.8014 12.2054 22.216 14.0528 23.0332C14.2783 23.1341 14.5332 23.1477 14.7681 23.0713C16.2277 22.6002 17.5425 21.7638 18.5878 20.6414C19.633 19.519 20.3739 18.148 20.74 16.6586C21.1061 15.1693 21.0853 13.611 20.6796 12.132C20.2739 10.6529 19.4967 9.30215 18.4219 8.20804ZM14.5171 21.0391C13.6454 20.5973 12.8765 19.977 12.2603 19.2186C11.6441 18.4601 11.1944 17.5804 10.9405 16.6368C10.8629 16.319 10.8029 15.9972 10.7608 15.6729C10.7322 15.4663 10.6398 15.2739 10.4965 15.1224C10.3532 14.971 10.1661 14.8681 9.96146 14.8282C9.89841 14.8157 9.8343 14.8095 9.77003 14.8096C9.59427 14.8096 9.42161 14.8558 9.26944 14.9438C9.11728 15.0318 8.991 15.1583 8.90333 15.3106C8.0736 16.7417 7.65633 18.3746 7.69776 20.0284C6.968 19.461 6.35811 18.7544 5.90344 17.9496C5.44876 17.1447 5.15835 16.2577 5.04903 15.3398C4.93971 14.4219 5.01366 13.4914 5.26658 12.6023C5.51951 11.7132 5.94639 10.8831 6.52247 10.1602C6.95989 9.59206 7.48756 9.09952 8.08447 8.70222C8.11032 8.68554 8.1351 8.66728 8.15869 8.64753C8.15869 8.64753 8.45538 8.40205 8.46552 8.39643C9.89022 7.1914 10.9035 5.57195 11.3643 3.76374C12.4538 4.77098 13.1804 6.10977 13.431 7.57225C13.6817 9.03473 13.4425 10.5391 12.7505 11.8516C12.6591 12.0268 12.6216 12.2251 12.6427 12.4215C12.6639 12.618 12.7427 12.8037 12.8693 12.9554C12.9959 13.1071 13.1646 13.2179 13.3541 13.2738C13.5436 13.3297 13.7454 13.3283 13.9341 13.2696C15.4659 12.7895 16.8138 11.8516 17.7964 10.5821C18.3869 11.4544 18.773 12.4487 18.9259 13.491C19.0787 14.5332 18.9944 15.5965 18.6792 16.6017C18.364 17.6068 17.826 18.5279 17.1054 19.2962C16.3847 20.0645 15.5 20.6603 14.5171 21.0391L14.5171 21.0391Z"
                        fill="white" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #fffede;"></path>
                </svg></i>
            </span>
        </a>
        <a href='https://duconspace.com/collections/all' class="preview arrivals">
            <span class="preview-text">New Arrivals</span>
            <span class="preview-icon">
                <i class="bi"> <svg width="20" height="20" viewBox="0 0 24 24" fill="white"
                    xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-fill=""
                    style="--darkreader-inline-fill: #fffede;">
                    <path
                        d="M22 9.67002C21.9368 9.48711 21.822 9.32645 21.6693 9.20753C21.5167 9.0886 21.3328 9.01652 21.14 9.00002L15.45 8.17002L12.9 3.00002C12.8181 2.83095 12.6902 2.68837 12.5311 2.5886C12.3719 2.48883 12.1878 2.43591 12 2.43591C11.8121 2.43591 11.6281 2.48883 11.4689 2.5886C11.3097 2.68837 11.1819 2.83095 11.1 3.00002L8.54998 8.16002L2.85998 9.00002C2.6749 9.02633 2.5009 9.10399 2.35773 9.22418C2.21455 9.34438 2.10794 9.5023 2.04998 9.68002C1.99692 9.8537 1.99216 10.0385 2.03621 10.2147C2.08025 10.3909 2.17144 10.5517 2.29998 10.68L6.42998 14.68L5.42998 20.36C5.39428 20.5475 5.41297 20.7413 5.48385 20.9185C5.55473 21.0957 5.67483 21.2489 5.82998 21.36C5.98119 21.4681 6.15955 21.5319 6.34503 21.5443C6.5305 21.5567 6.71575 21.5171 6.87998 21.43L12 18.76L17.1 21.44C17.2403 21.5192 17.3988 21.5606 17.56 21.56C17.7718 21.5608 17.9784 21.4942 18.15 21.37C18.3051 21.2589 18.4252 21.1057 18.4961 20.9285C18.567 20.7513 18.5857 20.5575 18.55 20.37L17.55 14.69L21.68 10.69C21.8244 10.5677 21.9311 10.4069 21.9877 10.2264C22.0444 10.0458 22.0486 9.8529 22 9.67002ZM15.85 13.67C15.7327 13.7835 15.645 13.9239 15.5944 14.079C15.5439 14.2341 15.532 14.3993 15.56 14.56L16.28 18.75L12.52 16.75C12.3753 16.673 12.2139 16.6327 12.05 16.6327C11.8861 16.6327 11.7247 16.673 11.58 16.75L7.81998 18.75L8.53998 14.56C8.56791 14.3993 8.55609 14.2341 8.50554 14.079C8.45499 13.9239 8.36725 13.7835 8.24998 13.67L5.24998 10.67L9.45998 10.06C9.62198 10.0375 9.77598 9.97556 9.90848 9.87967C10.041 9.78379 10.1479 9.65686 10.22 9.51002L12 5.70002L13.88 9.52002C13.952 9.66686 14.059 9.79379 14.1915 9.88968C14.324 9.98556 14.478 10.0475 14.64 10.07L18.85 10.68L15.85 13.67Z"
                        fill="white" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #fffede;"></path>
                </svg></i>
            </span>
        </a>
        <a href='https://duconspace.com/pages/happy-customers' class="preview border-preview">
            <span class="preview-text">Our Reviews</span>
            <span class="preview-icon">
                <i class="bi"> <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M11.9665 11.8582C11.4094 12.3073 10.7154 12.5522 9.99984 12.5522C9.28426 12.5522 8.59024 12.3073 8.03317 11.8582C7.86299 11.7167 7.64359 11.6487 7.42324 11.669C7.20288 11.6893 6.99962 11.7963 6.85817 11.9665C6.71673 12.1367 6.64867 12.3561 6.66899 12.5764C6.68931 12.7968 6.79633 13.0001 6.96651 13.1415C7.81762 13.852 8.89114 14.2412 9.99984 14.2412C11.1085 14.2412 12.1821 13.852 13.0332 13.1415C13.2034 13.0001 13.3104 12.7968 13.3307 12.5764C13.351 12.3561 13.283 12.1367 13.1415 11.9665C13.0715 11.8822 12.9855 11.8126 12.8886 11.7615C12.7916 11.7105 12.6856 11.679 12.5764 11.669C12.3561 11.6487 12.1367 11.7167 11.9665 11.8582ZM7.67484 8.78317C7.83098 8.93838 8.04219 9.0255 8.26234 9.0255C8.4825 9.0255 8.69371 8.93838 8.84984 8.78317C9.00505 8.62704 9.09217 8.41583 9.09217 8.19567C9.09217 7.97552 9.00505 7.76431 8.84984 7.60817C8.37294 7.15566 7.74059 6.9034 7.08317 6.9034C6.42576 6.9034 5.79341 7.15566 5.31651 7.60817C5.22927 7.68288 5.15842 7.77481 5.1084 7.8782C5.05838 7.98158 5.03027 8.09419 5.02584 8.20896C5.02141 8.32373 5.04075 8.43817 5.08264 8.54511C5.12454 8.65204 5.18809 8.74917 5.2693 8.83038C5.35051 8.91159 5.44763 8.97514 5.55457 9.01704C5.66151 9.05893 5.77595 9.07827 5.89072 9.07384C6.00548 9.0694 6.11809 9.04129 6.22148 8.99128C6.32487 8.94126 6.4168 8.87041 6.49151 8.78317C6.56898 8.70506 6.66114 8.64307 6.76269 8.60076C6.86424 8.55845 6.97316 8.53667 7.08317 8.53667C7.19318 8.53667 7.30211 8.55845 7.40365 8.60076C7.5052 8.64307 7.59737 8.70506 7.67484 8.78317ZM14.6832 7.60817C14.2063 7.15566 13.5739 6.9034 12.9165 6.9034C12.2591 6.9034 11.6267 7.15566 11.1498 7.60817C11.0133 7.76759 10.942 7.97265 10.9501 8.18238C10.9582 8.39211 11.0451 8.59106 11.1935 8.73947C11.342 8.88789 11.5409 8.97483 11.7506 8.98293C11.9604 8.99103 12.1654 8.91969 12.3248 8.78317C12.4023 8.70506 12.4945 8.64307 12.596 8.60076C12.6976 8.55845 12.8065 8.53667 12.9165 8.53667C13.0265 8.53667 13.1354 8.55845 13.237 8.60076C13.3385 8.64307 13.4307 8.70506 13.5082 8.78317C13.6643 8.93838 13.8755 9.0255 14.0957 9.0255C14.3158 9.0255 14.527 8.93838 14.6832 8.78317C14.8384 8.62704 14.9255 8.41583 14.9255 8.19567C14.9255 7.97552 14.8384 7.76431 14.6832 7.60817ZM9.99984 1.6665C8.35166 1.6665 6.7405 2.15525 5.37009 3.07092C3.99968 3.9866 2.93158 5.28809 2.30084 6.81081C1.67011 8.33353 1.50509 10.0091 1.82663 11.6256C2.14817 13.2421 2.94185 14.727 4.10728 15.8924C5.27272 17.0578 6.75758 17.8515 8.37409 18.173C9.9906 18.4946 11.6662 18.3296 13.1889 17.6988C14.7116 17.0681 16.0131 16 16.9288 14.6296C17.8444 13.2592 18.3332 11.648 18.3332 9.99984C18.3332 8.90549 18.1176 7.82186 17.6988 6.81081C17.28 5.79976 16.6662 4.8811 15.8924 4.10728C15.1186 3.33346 14.1999 2.71963 13.1889 2.30084C12.1778 1.88205 11.0942 1.6665 9.99984 1.6665ZM9.99984 16.6665C8.6813 16.6665 7.39237 16.2755 6.29604 15.543C5.19971 14.8104 4.34523 13.7692 3.84064 12.5511C3.33606 11.3329 3.20404 9.99244 3.46127 8.69924C3.71851 7.40603 4.35345 6.21814 5.2858 5.28579C6.21815 4.35344 7.40603 3.7185 8.69924 3.46127C9.99245 3.20403 11.3329 3.33606 12.5511 3.84064C13.7692 4.34522 14.8104 5.19971 15.543 6.29604C16.2755 7.39236 16.6665 8.6813 16.6665 9.99984C16.6665 11.7679 15.9641 13.4636 14.7139 14.7139C13.4636 15.9641 11.768 16.6665 9.99984 16.6665Z"
                        fill="#60656A" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #bfb299;"></path>
                </svg></i>
            </span>
        </a>
        <a href='https://duconspace.com/apps/parcelpanel' class="preview border-preview">
            <span class="preview-text">Track Order</span>
            <span class="preview-icon">
                <i class="bi"> <svg width="20" height="20" viewBox="0 0 24 24" fill="#60656A"
                    xmlns="http://www.w3.org/2000/svg" data-darkreader-inline-fill=""
                    style="--darkreader-inline-fill: #bfb299;">
                    <path
                        d="M20.4599 9.68008C20.3273 8.21469 19.8166 6.80881 18.9777 5.59999C18.1388 4.39117 17.0005 3.4208 15.6742 2.78383C14.3478 2.14685 12.8788 1.86509 11.4109 1.9661C9.94303 2.06711 8.52649 2.54743 7.29988 3.36008C6.24908 4.06273 5.36693 4.98938 4.71682 6.07347C4.06672 7.15757 3.66478 8.37219 3.53988 9.63008C3.41736 10.8797 3.57455 12.141 4.00005 13.3224C4.42555 14.5037 5.10868 15.5755 5.99988 16.4601L11.2999 21.7701C11.3928 21.8638 11.5034 21.9382 11.6253 21.989C11.7472 22.0397 11.8779 22.0659 12.0099 22.0659C12.1419 22.0659 12.2726 22.0397 12.3945 21.989C12.5163 21.9382 12.6269 21.8638 12.7199 21.7701L17.9999 16.4601C18.8911 15.5755 19.5742 14.5037 19.9997 13.3224C20.4252 12.141 20.5824 10.8797 20.4599 9.63008V9.68008ZM16.5999 15.0501L11.9999 19.6501L7.39988 15.0501C6.72197 14.3721 6.20268 13.5524 5.87935 12.6498C5.55601 11.7473 5.43667 10.7843 5.52988 9.83008C5.6237 8.86119 5.93164 7.92524 6.43145 7.08992C6.93126 6.25461 7.61044 5.54079 8.41988 5.00008C9.48083 4.29532 10.7262 3.91938 11.9999 3.91938C13.2736 3.91938 14.5189 4.29532 15.5799 5.00008C16.3869 5.5387 17.0646 6.24936 17.5642 7.08102C18.0639 7.91268 18.3732 8.84468 18.4699 9.81008C18.5661 10.7675 18.4483 11.7344 18.1249 12.6406C17.8014 13.5469 17.2805 14.3699 16.5999 15.0501Z"
                        fill="#60656A" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #bfb299;"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.0814 7.32962C11.5274 7.04257 10.8965 6.93921 10.2799 7.03448C9.66325 7.12976 9.09293 7.41875 8.65143 7.85962C8.10611 8.40854 7.80005 9.15088 7.80005 9.92462C7.80005 10.6984 8.10611 11.4407 8.65143 11.9896L11.3714 14.7096C11.4644 14.8033 11.575 14.8777 11.6968 14.9285C11.8187 14.9793 11.9494 15.0054 12.0814 15.0054C12.2134 15.0054 12.3441 14.9793 12.466 14.9285C12.5879 14.8777 12.6985 14.8033 12.7914 14.7096L15.5114 11.9896C16.0567 11.4407 16.3628 10.6984 16.3628 9.92462C16.3628 9.15088 16.0567 8.40854 15.5114 7.85962C15.0699 7.41875 14.4996 7.12976 13.883 7.03448C13.2664 6.93921 12.6354 7.04257 12.0814 7.32962ZM12.0814 12.5696L14.0814 10.5696C14.1724 10.4874 14.2451 10.3872 14.2951 10.2753C14.345 10.1633 14.371 10.0422 14.3714 9.91962C14.373 9.79861 14.3498 9.67856 14.3034 9.5668C14.257 9.45504 14.1883 9.35392 14.1014 9.26962C13.9265 9.10215 13.6936 9.00867 13.4514 9.00867C13.2092 9.00867 12.9764 9.10215 12.8014 9.26962C12.7085 9.36335 12.5979 9.43775 12.476 9.48851C12.3541 9.53928 12.2234 9.56542 12.0914 9.56542C11.9594 9.56542 11.8287 9.53928 11.7068 9.48851C11.585 9.43775 11.4744 9.36335 11.3814 9.26962C11.2089 9.09742 10.9752 9.0007 10.7314 9.0007C10.4877 9.0007 10.2539 9.09742 10.0814 9.26962C9.99459 9.35392 9.92586 9.45504 9.87944 9.5668C9.83302 9.67856 9.80987 9.79861 9.81143 9.91962C9.80928 10.0407 9.83215 10.1609 9.87861 10.2728C9.92507 10.3846 9.99412 10.4857 10.0814 10.5696L12.0814 12.5696Z"
                        fill="#60656A" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #bfb299;"></path>
                </svg></i>
            </span>
        </a>
    </div>
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        {% render 'icon-arrow' %}
                        {% render 'icon-caret' %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            {% render 'icon-arrow' %}
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      {% render 'icon-arrow' %}
                                      {% render 'icon-caret' %}
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {% render 'icon-arrow' %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
              >
                <account-icon>
                  {%- if customer and customer.has_avatar? -%}
                    {{ customer | avatar }}
                  {%- else -%}
                    {% render 'icon-account' %}
                  {%- endif -%}
                </account-icon>
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
