{{ 'banner.css' | asset_url | stylesheet_tag }}
<script src="{{ 'banner.js' | asset_url }}" defer="defer"></script>

 <div class="slideshow-container">
    <div class="slideshow-banner">
      <div class="slides fade">
        <a href="{{ section.settings.btn_link_1}}">
            <img
            width="100%"
            height="100%"
            src="{{ section.settings.image1 | image_url }}"
            style="height: 100%; width:100%"
            alt='image1'
            loading='lazy'
            >
        </a>
      </div>
      <div class="slides fade">
        <a href="{{ section.settings.btn_link_2}}">
            <img
            width="100%"
            height="100%"
            src="{{ section.settings.image2 | image_url }}"
            style="height: 100%; width:100%"
            alt='image2'
            loading="lazy"
            >
        </a>
      </div>
      <div class="slides fade">
        <a href="{{ section.settings.btn_link_3}}">
            <img
            width="100%"
            height="100%"
            src="{{ section.settings.image3 | image_url }}"
            style="height: 100%; width:100%"
            alt='image3'
            loading="lazy"
            >
        </a>
      </div>
    </div>
    <div class="slideshow-index">
      <div class="index" onclick="currentSlide(1)"></div>
      <div class="index" onclick="currentSlide(2)"></div>
      <div class="index" onclick="currentSlide(3)"></div>
    </div>
  </div>

  <div class="banner_container">
    <div class="main-banner">
        <a href="{{ section.settings.btn_link_1}}">
            <img
                width="100%"
                height="100%"
                src="{{ section.settings.image1 | image_url }}"
                alt="image1"
                loading="lazy"
            >
        </a>
    </div>
    <div class="side-banners">
      <div class="side-banner green-banner">
        <a href="{{ section.settings.btn_link_2}}">
            <img
            width="100%"
            height="100%"
            src="{{ section.settings.image2 | image_url }}"
            alt="image2"
            loading="lazy"
            >
        </a>
      </div>
      <div class="side-banner orange-banner">
        <a href="{{ section.settings.btn_link_3}}">
            <img
            width="100%"
            height="100%"
            src="{{ section.settings.image3 | image_url }}"
            style="height: 100%; width:100%"
            alt="image3"
            loading="lazy"
            >
        </a>
      </div>
    </div>
  </div>

{% schema %}
{
    "name": "Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "image1",
            "label": "Image1"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Image2"
        },
        {
            "type": "image_picker",
            "id": "image3",
            "label": "Image3"
        },
        {
            "type": "url",
            "id": "btn_link_1",
            "label": "link1"
        },
        {
            "type": "url",
            "id": "btn_link_2",
            "label": "link2"
        },
        {
            "type": "url",
            "id": "btn_link_3",
            "label": "link3"
        }
    ],
    "presets": [
        {
            "name": "Banner"
        }
    ]
}
{% endschema %}
