<!-- sections/featured-collection-with-menu.liquid -->
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

<div
  class="color-{{ section.settings.color_scheme }} isolate gradient hero-container"
>
  <div
    class="collection{% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}"
    id="collection-{{ section.id }}"
    data-id="{{ section.id }}"
  >
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
      {%- if section.settings.title != blank -%}
        <h2 class="custom-header {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}
    </div>
    <div class='hero-banner-container'>
      <div
        class="media media--transparent ratio hero-banner"
        {% if section.settings.image != blank %}
          style="--ratio-percent: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%"
        {% else %}
          style="--ratio-percent: 100%"
        {% endif %}
      >
        {%- if section.settings.image != blank -%}
          {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
            {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
            {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
          (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
        {%- endcapture -%}
          {%- else -%}
            {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
            {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
        {%- endcapture -%}
          {%- endif -%}
          {{
            section.settings.image
            | image_url: width: 1500
            | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
          }}
        {%- endif -%}
      </div>
    </div>
    
    <div class="featured-collection-with-menu-ajax">
      <button class="pf_tabmenu_arrow" id="pf_arrow-prev"> 
        <div class="pf_tabmenu_image_cover">
          <img width='35px' height='35px' src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/arrow_right.png" alt="tab menu left" class=" ls-is-cached lazyloaded" loading="lazy">
        </div>
      </button>
      <nav>
        <ul>
          {% assign initial_collection_handle = linklists[section.settings.menu].links.first.url | split: '/' | last %}
          {% for link in linklists[section.settings.menu].links %}
            {% assign is_active = forloop.first %}
            <li data-collection-handle="{{ link.url | split: '/' | last }}" class="{% if is_active %}active{% endif %}">
              <a href="#">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
      <button class="pf_tabmenu_arrow" id="pf_arrow-next">
        <div class="pf_tabmenu_image_cover">
          <img width='35px' height='35px' src="https://cdn.shopify.com/s/files/1/0563/9988/8539/files/arrow_right.png" alt="tab menu right" class=" ls-is-cached lazyloaded" loading="lazy">
        </div>
      </button>
    </div>
    <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <ul
        id="Slider-{{ section.id }}"
        data-id="{{ section.id }}"
        class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >

        {% render 'collection-products',
            collection_handle: initial_collection_handle,
            section_id: section.id,
            columns_desktop: section.settings.columns_desktop,
            columns_mobile: section.settings.columns_mobile,
            products_to_show: section.settings.products_to_show,
            image_ratio: section.settings.image_ratio,
            image_shape: section.settings.image_shape,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            quick_add: section.settings.quick_add
        %}
      </ul>
      {%- if show_mobile_slider or show_desktop_slider -%}
        <div class="slider-buttons">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {% render 'icon-caret' %}
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ products_to_display }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>

    {%- if section.settings.show_view_all and more_in_collection -%}
      <div class="center collection__view-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        <a
          href="{{ section.settings.collection.url }}"
          {%- comment -%} class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}" {%- endcomment -%}
          class="custom-btn-view_all"
          aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title | escape }}"
        >
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
    {% if section.settings.image_shape == 'arch' %}
      {% render 'mask-arch' %}
    {%- endif -%}
  </div>
</div>

<style>
/* Add your custom styles here */
.featured-collection-with-menu-ajax {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top:10px;
}

.featured-collection-with-menu-ajax nav {
  overflow-x: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.featured-collection-with-menu-ajax nav ul {
  max-width: 1110px;
  width: 100%;
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0; 
}

.featured-collection-with-menu-ajax nav ul li {
  flex: 0 0 auto;
  width: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: #f2f2f2;
}

.featured-collection-with-menu-ajax nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}

.featured-collection-with-menu-ajax nav ul li.active {
  background-color:#b88d7f;
}

.featured-collection-with-menu-ajax nav ul li.active a {
  font-weight: bold;
  color:#ffffff;
}

.featured-collection-with-menu-ajax nav ul li:hover{
  text-decoration:underline;
  text-decoration-color: #b88d7f;
}

.featured-collection-with-menu-ajax nav::-webkit-scrollbar {
  display: none;
}

.collection-products {
  display: flex;
  flex-wrap: wrap;
}

.collection-products .product {
  width: 30%;
  margin: 1%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  text-align: center;
}

.collection-products .product img {
  max-width: 100%;
  height: auto;
}

.collection-products .product p {
  margin: 5px 0;
}

.pf_tabmenu_arrow {
  position: absolute;
  border-radius:8px;
  padding:5px 10px;
  border:none;
  background-color:#fff;
  cursor:pointer;
  display:none;
}

@media (max-width: 767px) {
  .pf_tabmenu_arrow {
    display: block;
  }

  .hero-banner-container .hero-banner{
    width: 100%;
    height: 100%;
    height:350px;
    max-width: 1110px;
    margin: 0 auto;
    border-radius: 10px;
  }
}

#pf_arrow-prev{
  top:0;
  left:0;
  transform: rotate(180deg);
}

#pf_arrow-next{
  top:0;
  right:0;
}

.hero-banner-container {
  padding: 0 10px;
}

.hero-banner-container .hero-banner{
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  border-radius: 10px;
}

.hero-container {
  display:block;
}

@media (min-width: 767px) and (max-width: 1200px) {
  .hero-container {
    display: none;
  }
}
</style>
<script>
      document.addEventListener('DOMContentLoaded', function() {
      const menuItems = document.querySelectorAll('.featured-collection-with-menu-ajax nav ul li');
      const container = document.getElementById('Slider-{{ section.id }}');
      const settings = {{ section.settings | json }};
      const { columns_desktop, columns_mobile, products_to_show, image_ratio, image_shape, show_secondary_image, show_vendor, quick_add } = settings;
      const section_id = `{{ section.id }}`;
      const prevButton = document.getElementById('pf_arrow-prev');
      const nextButton = document.getElementById('pf_arrow-next');

      const updateActiveItem = (newItem) => {
        const handle = newItem.getAttribute('data-collection-handle');
        const queryParams = {
          view: 'ajax',
          sectionId: section_id,
          columnDesktop: columns_desktop,
          columnMobile: columns_mobile,
          productsToShow: products_to_show,
          imageRatio: image_ratio,
          imageShape: image_shape,
          showSecondaryImage: show_secondary_image,
          showVendor: show_vendor,
          quickAdd: quick_add
        };

        const queryString = new URLSearchParams(queryParams).toString();
        const fullUrl = `/collections/${handle}?${queryString}`;

        fetch(fullUrl)
          .then(response => response.text())
          .then(html => {
            container.innerHTML = html;
          });

        menuItems.forEach(item => item.classList.remove('active'));
        newItem.classList.add('active');
      };

      menuItems.forEach(item => {
        item.addEventListener('click', function(event) {
          event.preventDefault();
          updateActiveItem(this);
        });
      });

      if (menuItems.length > 0) {
        menuItems[0].classList.add('active');
      }

      const moveActiveItem = (direction) => {
        const activeItem = document.querySelector('.featured-collection-with-menu-ajax nav ul li.active');
        if (activeItem) {
          const newItem = direction === 'prev' ? activeItem.previousElementSibling : activeItem.nextElementSibling;
          if (newItem) {
            updateActiveItem(newItem);
          }
        }
      };

      if (prevButton) {
        prevButton.addEventListener('click', () => moveActiveItem('prev'));
      }

      if (nextButton) {
        nextButton.addEventListener('click', () => moveActiveItem('next'));
      }
    });
</script>

{% schema %}
{
  "name": "Menu Feature Collection",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "WHO IS THE HERO?"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "Image Banner"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 10,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:sections.featured-collection.settings.view_all_style.label",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Feature Collection With Menu"
    }
  ]
}
{% endschema %}