{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .social-icons .icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f0f0f0;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .icon:hover {
    transform: scale(1.1);
    background-color: #e0e0e0;
  }

  .icon svg {
    fill: #555;
    width: 24px;
    height: 24px;
    transition: fill 0.3s;
  }

  .icon:hover svg {
    fill: #000;
  }

  .footer-contain-info {
    display: flex;
    flex-direction: column;
  }
  .shop-info {
    display: flex;
    color: #fff;
    font-size: 14px;
    align-items: center;
    font-weight: 400;
    line-height: 18px;
    gap: 10px;
  }

  .footer-wrapper,
  .footer-wrapper *,
  .footer-wrapper *::after,
  .footer-wrapper *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 24px;
    background-color: #323843;
  }
  .footer-wrapper .footer-content {
    max-width: 1280px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 36px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer-wrapper .footer-content__col {
    flex: 1 1 0%;
    padding: 0 15px;
  }
  .footer-wrapper .footer-content__col__title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  .footer-wrapper .footer-content__col__content {
    display: flex;
    list-style: none;
    flex-direction: column;
    row-gap: 14px;
    padding: 15px 0;
  }
  .footer-wrapper .footer-content__col__content .content__item {
    color: #eaeaeb;
    font-size: 13px;
  }
  .footer-wrapper .footer-content__col__content .content__item a {
    text-decoration: none;
    color: #e1e1e2;
  }
  .footer-wrapper .footer-content__col__paragraph {
    color: #aeaaaa;
    font-size: 13px;
    padding: 15px 0;
    display: block;
    line-height: 24px;
  }
  .footer-wrapper .footer-content__logo {
    width: 150px;
    object-fit: contain;
    margin-bottom: 29px;
    height: auto;
  }
  .footer-wrapper .bottom-footer {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
  }
  .footer-wrapper .payment-methods {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
  .footer-wrapper .credit {
    color: #a9acaf;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
  @media screen and (max-width: 1200px) {
    .footer-wrapper .footer-content {
      grid-template-columns: repeat(3, 1fr);
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media screen and (max-width: 1000px) {
    .footer-wrapper .footer-content {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @media screen and (max-width: 480px) {
    .footer-wrapper .footer-content {
      grid-template-columns: repeat(1, 1fr);
      padding-left: 10px;
      padding-right: 10px;
    }
  }
{%- endstyle -%}

<footer class="footer-wrapper">
  <div class="footer-content">
    <div class="footer-content__col">
      {% if section.settings.footer_logo %}
        <div class="footer-contain-info">
          <img
            width="100%"
            height="100%"
            class="footer-content__logo"
            src="{{ section.settings.footer_logo | image_url }}"
            alt="{{ section.settings.collection.image.alt | escape }}"
            loading="lazy"
          >
          <div class="shop-info">
            <span class="fIcon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.4599 9.68008C20.3273 8.21469 19.8166 6.80881 18.9777 5.59999C18.1388 4.39117 17.0005 3.4208 15.6742 2.78383C14.3478 2.14685 12.8788 1.86509 11.4109 1.9661C9.94303 2.06711 8.52649 2.54743 7.29988 3.36008C6.24908 4.06273 5.36693 4.98938 4.71682 6.07347C4.06672 7.15757 3.66478 8.37219 3.53988 9.63008C3.41736 10.8797 3.57455 12.141 4.00005 13.3224C4.42555 14.5037 5.10868 15.5755 5.99988 16.4601L11.2999 21.7701C11.3928 21.8638 11.5034 21.9382 11.6253 21.989C11.7472 22.0397 11.8779 22.0659 12.0099 22.0659C12.1419 22.0659 12.2726 22.0397 12.3945 21.989C12.5163 21.9382 12.6269 21.8638 12.7199 21.7701L17.9999 16.4601C18.8911 15.5755 19.5742 14.5037 19.9997 13.3224C20.4252 12.141 20.5824 10.8797 20.4599 9.63008V9.68008ZM16.5999 15.0501L11.9999 19.6501L7.39988 15.0501C6.72197 14.3721 6.20268 13.5524 5.87935 12.6498C5.55601 11.7473 5.43667 10.7843 5.52988 9.83008C5.6237 8.86119 5.93164 7.92524 6.43145 7.08992C6.93126 6.25461 7.61044 5.54079 8.41988 5.00008C9.48083 4.29532 10.7262 3.91938 11.9999 3.91938C13.2736 3.91938 14.5189 4.29532 15.5799 5.00008C16.3869 5.5387 17.0646 6.24936 17.5642 7.08102C18.0639 7.91268 18.3732 8.84468 18.4699 9.81008C18.5661 10.7675 18.4483 11.7344 18.1249 12.6406C17.8014 13.5469 17.2805 14.3699 16.5999 15.0501Z" fill="black" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #fffede;"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0814 7.32962C11.5274 7.04257 10.8965 6.93921 10.2799 7.03448C9.66325 7.12976 9.09293 7.41875 8.65143 7.85962C8.10611 8.40854 7.80005 9.15088 7.80005 9.92462C7.80005 10.6984 8.10611 11.4407 8.65143 11.9896L11.3714 14.7096C11.4644 14.8033 11.575 14.8777 11.6968 14.9285C11.8187 14.9793 11.9494 15.0054 12.0814 15.0054C12.2134 15.0054 12.3441 14.9793 12.466 14.9285C12.5879 14.8777 12.6985 14.8033 12.7914 14.7096L15.5114 11.9896C16.0567 11.4407 16.3628 10.6984 16.3628 9.92462C16.3628 9.15088 16.0567 8.40854 15.5114 7.85962C15.0699 7.41875 14.4996 7.12976 13.883 7.03448C13.2664 6.93921 12.6354 7.04257 12.0814 7.32962ZM12.0814 12.5696L14.0814 10.5696C14.1724 10.4874 14.2451 10.3872 14.2951 10.2753C14.345 10.1633 14.371 10.0422 14.3714 9.91962C14.373 9.79861 14.3498 9.67856 14.3034 9.5668C14.257 9.45504 14.1883 9.35392 14.1014 9.26962C13.9265 9.10215 13.6936 9.00867 13.4514 9.00867C13.2092 9.00867 12.9764 9.10215 12.8014 9.26962C12.7085 9.36335 12.5979 9.43775 12.476 9.48851C12.3541 9.53928 12.2234 9.56542 12.0914 9.56542C11.9594 9.56542 11.8287 9.53928 11.7068 9.48851C11.585 9.43775 11.4744 9.36335 11.3814 9.26962C11.2089 9.09742 10.9752 9.0007 10.7314 9.0007C10.4877 9.0007 10.2539 9.09742 10.0814 9.26962C9.99459 9.35392 9.92586 9.45504 9.87944 9.5668C9.83302 9.67856 9.80987 9.79861 9.81143 9.91962C9.80928 10.0407 9.83215 10.1609 9.87861 10.2728C9.92507 10.3846 9.99412 10.4857 10.0814 10.5696L12.0814 12.5696Z" fill="black" data-darkreader-inline-fill="" style="--darkreader-inline-fill: #fffede;"></path>
              </svg>
            </span>
            <span>{{ section.settings.address }}</span>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="footer-content__col">
      <div class="footer-content__col__title">INFORMATION</div>
      <ul class="footer-content__col__content">
        {% for link in section.settings.information.links %}
          <li class="content__item">
            <a href="{{ link.url }}" title="Visit Example" target="_blank" rel="noopener noreferrer">
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer-content__col">
      <div class="footer-content__col__title">HELP CENTER</div>
      <ul class="footer-content__col__content">
        {% for link in section.settings.helplink.links %}
          <li class="content__item">
            <a href="{{ link.url }}" title="Visit Example" target="_blank" rel="noopener noreferrer">
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class='footer-content__col'>
      <div class="social-icons">
        <a href="https://www.facebook.com/duconspace" target="_blank" class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M22 12c0-5.522-4.478-10-10-10S2 6.478 2 12c0 4.991 3.657 9.128 8.438 9.876v-6.987h-2.54v-2.89h2.54V9.794c0-2.506 1.493-3.89 3.778-3.89 1.094 0 2.238.196 2.238.196v2.465h-1.26c-1.243 0-1.63.771-1.63 1.562v1.867h2.773l-.443 2.89h-2.33V21.876C18.343 21.128 22 16.991 22 12z" />
          </svg>
        </a>
        <a href="https://x.com/duconspace" target="_blank" class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M22.46 6.011c-.793.352-1.644.588-2.538.694a4.462 4.462 0 0 0 1.956-2.467 8.92 8.92 0 0 1-2.824 1.084 4.462 4.462 0 0 0-7.597 4.067 12.646 12.646 0 0 1-9.192-4.659 4.443 4.443 0 0 0-.605 2.243 4.462 4.462 0 0 0 1.984 3.717 4.422 4.422 0 0 1-2.019-.558v.057a4.462 4.462 0 0 0 3.574 4.37 4.478 4.478 0 0 1-2.011.077 4.462 4.462 0 0 0 4.167 3.1A8.947 8.947 0 0 1 2 19.539a12.615 12.615 0 0 0 6.832 2.001c8.19 0 12.675-6.79 12.675-12.675 0-.193-.005-.386-.014-.578A9.048 9.048 0 0 0 22.46 6.011z" />
          </svg>
        </a>
        <a href="https://www.youtube.com/@duconspace" target="_blank" class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M23.498 6.186a3.005 3.005 0 0 0-2.116-2.126C19.354 3.5 12 3.5 12 3.5s-7.354 0-9.382.56a3.005 3.005 0 0 0-2.116 2.126C.5 8.5.5 12 .5 12s0 3.5.502 5.814a3.005 3.005 0 0 0 2.116 2.126c2.028.56 9.382.56 9.382.56s7.354 0 9.382-.56a3.005 3.005 0 0 0 2.116-2.126C23.5 15.5 23.5 12 23.5 12s0-3.5-.002-5.814zM9.75 15.568V8.432l6.75 3.568-6.75 3.568z" />
          </svg>
        </a>
        <a href="https://www.instagram.com/duconspace/" target="_blank" class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M7 2C4.243 2 2 4.243 2 7v10c0 2.757 2.243 5 5 5h10c2.757 0 5-2.243 5-5V7c0-2.757-2.243-5-5-5H7zm0 2h10c1.654 0 3 1.346 3 3v10c0 1.654-1.346 3-3 3H7c-1.654 0-3-1.346-3-3V7c0-1.654 1.346-3 3-3zm9 2a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-5 1a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm0 2a3 3 0 1 1 0 6 3 3 0 0 1 0-6z" />
          </svg>
        </a>      
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="payment-methods">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-labelledby="pi-american_express"
        viewBox="0 0 38 24"
        width="38"
        height="24"
      >
        <path
          fill="#000"
          d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3Z"
          opacity=".07"
        ></path>
        <path
          fill="#006FCF"
          d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32Z"
        ></path>
        <path
          fill="#FFF"
          d="M22.012 19.936v-8.421L37 11.528v2.326l-1.732 1.852L37 17.573v2.375h-2.766l-1.47-1.622-1.46 1.628-9.292-.02Z"
        ></path>
        <path
          fill="#006FCF"
          d="M23.013 19.012v-6.57h5.572v1.513h-3.768v1.028h3.678v1.488h-3.678v1.01h3.768v1.531h-5.572Z"
        ></path>
        <path
          fill="#006FCF"
          d="m28.557 19.012 3.083-3.289-3.083-3.282h2.386l1.884 2.083 1.89-2.082H37v.051l-3.017 3.23L37 18.92v.093h-2.307l-1.917-2.103-1.898 2.104h-2.321Z"
        ></path>
        <path
          fill="#FFF"
          d="M22.71 4.04h3.614l1.269 2.881V4.04h4.46l.77 2.159.771-2.159H37v8.421H19l3.71-8.421Z"
        ></path>
        <path
          fill="#006FCF"
          d="m23.395 4.955-2.916 6.566h2l.55-1.315h2.98l.55 1.315h2.05l-2.904-6.566h-2.31Zm.25 3.777.875-2.09.873 2.09h-1.748Z"
        ></path>
        <path
          fill="#006FCF"
          d="M28.581 11.52V4.953l2.811.01L32.84 9l1.456-4.046H37v6.565l-1.74.016v-4.51l-1.644 4.494h-1.59L30.35 7.01v4.51h-1.768Z"
        ></path>
      </svg>
      <svg
        class="payment-icon"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        x="0"
        y="0"
        width="38"
        height="24"
        viewBox="0 0 165.521 105.965"
        xml:space="preserve"
        aria-labelledby="pi-apple_pay"
      >
        <path
          fill="#000"
          d="M150.698 0H14.823c-.566 0-1.133 0-1.698.003-.477.004-.953.009-1.43.022-1.039.028-2.087.09-3.113.274a10.51 10.51 0 0 0-2.958.975 9.932 9.932 0 0 0-4.35 4.35 10.463 10.463 0 0 0-.975 2.96C.113 9.611.052 10.658.024 11.696a70.22 70.22 0 0 0-.022 1.43C0 13.69 0 14.256 0 14.823v76.318c0 .567 0 1.132.002 1.699.003.476.009.953.022 1.43.028 1.036.09 2.084.275 3.11a10.46 10.46 0 0 0 .974 2.96 9.897 9.897 0 0 0 1.83 2.52 9.874 9.874 0 0 0 2.52 1.83c.947.483 1.917.79 2.96.977 1.025.183 2.073.245 3.112.273.477.011.953.017 1.43.02.565.004 1.132.004 1.698.004h135.875c.565 0 1.132 0 1.697-.004.476-.002.952-.009 1.431-.02 1.037-.028 2.085-.09 3.113-.273a10.478 10.478 0 0 0 2.958-.977 9.955 9.955 0 0 0 4.35-4.35c.483-.947.789-1.917.974-2.96.186-1.026.246-2.074.274-3.11.013-.477.02-.954.022-1.43.004-.567.004-1.132.004-1.699V14.824c0-.567 0-1.133-.004-1.699a63.067 63.067 0 0 0-.022-1.429c-.028-1.038-.088-2.085-.274-3.112a10.4 10.4 0 0 0-.974-2.96 9.94 9.94 0 0 0-4.35-4.35A10.52 10.52 0 0 0 156.939.3c-1.028-.185-2.076-.246-3.113-.274a71.417 71.417 0 0 0-1.431-.022C151.83 0 151.263 0 150.698 0z"
        ></path>
        <path
          fill="#FFF"
          d="M150.698 3.532l1.672.003c.452.003.905.008 1.36.02.793.022 1.719.065 2.583.22.75.135 1.38.34 1.984.648a6.392 6.392 0 0 1 2.804 2.807c.306.6.51 1.226.645 1.983.154.854.197 1.783.218 2.58.013.45.019.9.02 1.36.005.557.005 1.113.005 1.671v76.318c0 .558 0 1.114-.004 1.682-.002.45-.008.9-.02 1.35-.022.796-.065 1.725-.221 2.589a6.855 6.855 0 0 1-.645 1.975 6.397 6.397 0 0 1-2.808 2.807c-.6.306-1.228.511-1.971.645-.881.157-1.847.2-2.574.22-.457.01-.912.017-1.379.019-.555.004-1.113.004-1.669.004H14.801c-.55 0-1.1 0-1.66-.004a74.993 74.993 0 0 1-1.35-.018c-.744-.02-1.71-.064-2.584-.22a6.938 6.938 0 0 1-1.986-.65 6.337 6.337 0 0 1-1.622-1.18 6.355 6.355 0 0 1-1.178-1.623 6.935 6.935 0 0 1-.646-1.985c-.156-.863-.2-1.788-.22-2.578a66.088 66.088 0 0 1-.02-1.355l-.003-1.327V14.474l.002-1.325a66.7 66.7 0 0 1 .02-1.357c.022-.792.065-1.717.222-2.587a6.924 6.924 0 0 1 .646-1.981c.304-.598.7-1.144 1.18-1.623a6.386 6.386 0 0 1 1.624-1.18 6.96 6.96 0 0 1 1.98-.646c.865-.155 1.792-.198 2.586-.22.452-.012.905-.017 1.354-.02l1.677-.003h135.875"
        ></path>
        <g>
          <g>
            <path
              fill="#000"
              d="M43.508 35.77c1.404-1.755 2.356-4.112 2.105-6.52-2.054.102-4.56 1.355-6.012 3.112-1.303 1.504-2.456 3.959-2.156 6.266 2.306.2 4.61-1.152 6.063-2.858"
            ></path>
            <path
              fill="#000"
              d="M45.587 39.079c-3.35-.2-6.196 1.9-7.795 1.9-1.6 0-4.049-1.8-6.698-1.751-3.447.05-6.645 2-8.395 5.1-3.598 6.2-.95 15.4 2.55 20.45 1.699 2.5 3.747 5.25 6.445 5.151 2.55-.1 3.549-1.65 6.647-1.65 3.097 0 3.997 1.65 6.696 1.6 2.798-.05 4.548-2.5 6.247-5 1.95-2.85 2.747-5.6 2.797-5.75-.05-.05-5.396-2.101-5.446-8.251-.05-5.15 4.198-7.6 4.398-7.751-2.399-3.548-6.147-3.948-7.447-4.048"
            ></path>
          </g>
          <g>
            <path
              fill="#000"
              d="M78.973 32.11c7.278 0 12.347 5.017 12.347 12.321 0 7.33-5.173 12.373-12.529 12.373h-8.058V69.62h-5.822V32.11h14.062zm-8.24 19.807h6.68c5.07 0 7.954-2.729 7.954-7.46 0-4.73-2.885-7.434-7.928-7.434h-6.706v14.894z"
            ></path>
            <path
              fill="#000"
              d="M92.764 61.847c0-4.809 3.665-7.564 10.423-7.98l7.252-.442v-2.08c0-3.04-2.001-4.704-5.562-4.704-2.938 0-5.07 1.507-5.51 3.82h-5.252c.157-4.86 4.731-8.395 10.918-8.395 6.654 0 10.995 3.483 10.995 8.89v18.663h-5.38v-4.497h-.13c-1.534 2.937-4.914 4.782-8.579 4.782-5.406 0-9.175-3.222-9.175-8.057zm17.675-2.417v-2.106l-6.472.416c-3.64.234-5.536 1.585-5.536 3.95 0 2.288 1.975 3.77 5.068 3.77 3.95 0 6.94-2.522 6.94-6.03z"
            ></path>
            <path
              fill="#000"
              d="M120.975 79.652v-4.496c.364.051 1.247.103 1.715.103 2.573 0 4.029-1.09 4.913-3.899l.52-1.663-9.852-27.293h6.082l6.863 22.146h.13l6.862-22.146h5.927l-10.216 28.67c-2.34 6.577-5.017 8.735-10.683 8.735-.442 0-1.872-.052-2.261-.157z"
            ></path>
          </g>
        </g>
      </svg>
      <svg
        class="payment-icon"
        viewBox="0 0 38 24"
        xmlns="http://www.w3.org/2000/svg"
        width="38"
        height="24"
        aria-labelledby="pi-master"
      >
        <path
          opacity=".07"
          d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"
        ></path>
        <path
          fill="#fff"
          d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"
        ></path>
        <circle fill="#EB001B" cx="15" cy="12" r="7"></circle>
        <circle fill="#F79E1B" cx="23" cy="12" r="7"></circle>
        <path
          fill="#FF5F00"
          d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"
        ></path>
      </svg>
      <svg
        class="payment-icon"
        viewBox="0 0 38 24"
        xmlns="http://www.w3.org/2000/svg"
        width="38"
        height="24"
        aria-labelledby="pi-paypal"
      >
        <path
          opacity=".07"
          d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"
        ></path>
        <path
          fill="#fff"
          d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"
        ></path>
        <path
          fill="#003087"
          d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"
        ></path>
        <path
          fill="#3086C8"
          d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"
        ></path>
        <path
          fill="#012169"
          d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"
        ></path>
      </svg>
      <svg
        class="payment-icon"
        viewBox="0 0 38 24"
        xmlns="http://www.w3.org/2000/svg"
        width="38"
        height="24"
        aria-labelledby="pi-visa"
      >
        <path
          opacity=".07"
          d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"
        ></path>
        <path
          fill="#fff"
          d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"
        ></path>
        <path
          d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z"
          fill="#142688"
        ></path>
      </svg>
    </div>

    <span class="credit"> © 2024 </span>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "id": "copyright",
      "label": "Copyright text",
      "type": "text"
    },
    {
      "id": "address",
      "label": "Address",
      "type": "text"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer logo"
    },
    {
      "type": "link_list",
      "id": "information",
      "label": "Information"
    },
    {
      "type": "link_list",
      "id": "helplink",
      "label": "Help links"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading text"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Body text"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading text"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Body text"
        }
      ]
    },
    {
      "name": "Navigation column",
      "type": "navigation",
      "settings": []
    }
  ]
}
{% endschema %}
