{{ 'happy-customers.css' | asset_url | stylesheet_tag }}

<div>
  <div class="customer-container">
    <div class="customer-header">
      <h3 class="custom-header">{{ section.settings.customer_title }}</h3>
      <span class="customer-description">{{ section.settings.customer_description }}</span>
      <a href="{{ section.settings.happy_customers_url}}" class="customer-link">{{ section.settings.customer_link }}</a>
    </div>
    <div class="customer-grid">
      <img
        class="customer-img"
        width="100%"
        height="350px"
        src="{{ section.settings.image1 | image_url }}"
        alt="customer 1"
        loading="lazy"
      >
      <img
        class="customer-img"
        width="100%"
        height="350px"
        src="{{ section.settings.image2 | image_url }}"
        alt="customer 2"
        loading="lazy"
      >
      <img
        class="customer-img"
        width="100%"
        height="350px"
        src="{{ section.settings.image3 | image_url }}"
        alt="customer 3"
        loading="lazy"
      >
      <img
        class="customer-img"
        width="100%"
        height="350px"
        src="{{ section.settings.image4 | image_url }}"
        alt="customer 4"
        loading="lazy"
      >
      <img
        class="customer-img"
        width="100%"
        height="350px"
        src="{{ section.settings.image5 | image_url }}"
        alt="customer 5"
        loading="lazy"
      >
      <img
        class="customer-img"
        width="100%"
        height="350px"
        src="{{ section.settings.image6 | image_url }}"
        alt="customer 6"
        loading="lazy"
      >
      <img
        class="customer-img"
        width="100%"
        height="350px"
        src="{{ section.settings.image7 | image_url }}"
        alt="customer 7"
        loading="lazy"
      >
      <img
        class="customer-img"
        width="100%"
        height="350px"
        src="{{ section.settings.image8 | image_url }}"
        alt="customer 8"
        loading="lazy"
      >
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Happy customer",
    "settings": [
        {
            "type": "text",
            "id": "customer_title",
            "label": "Title",
            "default": "LET CUSTOMERS SPEAK FOR US"
        },
        {
            "type": "text",
            "id": "customer_description",
            "label": "description",
            "default": "Your happiness is our top priority for each and every gift we deliver!"
        },
        {
            "type": "text",
            "id": "customer_link",
            "label": "link",
            "default": "VISIT HAPPY CUSTOMERS"
        },
        {
            "type": "image_picker",
            "id": "image1",
            "label": "Image1"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Image2"
        },
        {
            "type": "image_picker",
            "id": "image3",
            "label": "Image3"
        },
        {
            "type": "image_picker",
            "id": "image4",
            "label": "Image4"
        },
        {
            "type": "image_picker",
            "id": "image5",
            "label": "Image5"
        },
        {
            "type": "image_picker",
            "id": "image6",
            "label": "Image6"
        },
        {
            "type": "image_picker",
            "id": "image7",
            "label": "Image7"
        },
        {
            "type": "image_picker",
            "id": "image8",
            "label": "Image8"
        },
        {
            "type": "url",
            "id": "happy_customers_url",
            "label": "Url"
        }
    ],
    "presets": [
        {
            "name": "Happy customer"
        }
    ]
}
{% endschema %}
