    <div class="special-day-collection-container">
        <div class="header-special-day">
            <h3 class='title'>{{ section.settings.special_day_title }}</h3>
            <p class='description'>{{ section.settings.special_day_description }}</p>
        </div>

        <div class="list-collection">
            <div class="box-collection">
                <p class='name-collection'>BEST DAD</p>
                <img class='img-collection' src="https://cdn.shopify.com/s/files/1/0616/1514/5116/files/FTD24_LP-SBR_BESTDAD_0305ab14-f279-4e91-b06f-e10ff5e42421_110x.png?v=1715746263" srcset="{{ section.settings.url1 }}" width="400" height="400" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, calc(100vw/3)" loading="lazy" alt="FTD24_LP-SBR_BESTDAD.png__PID:a137d3df-d80b-44ce-bf75-bb648197de19" data-pf-type="Image3" class="sc-gsNilK efdcmA pf-357_ pf-image-1 pf_sbr-image ls-is-cached lazyloaded">
            </div>
            <div class="box-collection">
                <p class='name-collection'>GRAND FATHER</p>
                <img class='img-collection' src="https://cdn.shopify.com/s/files/1/0616/1514/5116/files/FTD24_LP-SBR_GRANDPA_516123f0-3927-416c-9f0b-12e45ae6c2fc_110x.png?v=1715657717" srcset="{{ section.settings.url2 }}" width="400" height="400" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, calc(100vw/3)" loading="lazy" alt="FTD24_LP-SBR_GRANDPA.png__PID:5b546e8b-f4d6-4c07-992f-35fe157d0d98" data-pf-type="Image3" class="sc-gsNilK efdcmA pf-361_ pf-image-1 pf_sbr-image ls-is-cached lazyloaded">
            </div>
            <div class="box-collection">
                <p class='name-collection'>PET DAD</p>
                <img class='img-collection' src="https://cdn.shopify.com/s/files/1/0616/1514/5116/files/FTD24_LP-SBR_NEWDAD_ae151431-ce3d-46ee-80c5-e70093a0c404_110x.png?v=1715746280" srcset="{{ section.settings.url3 }}" width="400" height="400" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, calc(100vw/3)" loading="lazy" alt="FTD24_LP-SBR_NEWDAD.png__PID:d3dfd80b-f4ce-4f75-bb64-8197de19f10c" data-pf-type="Image3" class="sc-gsNilK efdcmA pf-365_ pf-image-1 pf_sbr-image ls-is-cached lazyloaded">
            </div>
            <div class="box-collection">
                <p class='name-collection'>FIRST DAD</p>
                <img class='img-collection' src="https://cdn.shopify.com/s/files/1/0616/1514/5116/files/FTD24_LP-SBR_NEWDAD-1_f27d1836-0d69-45d4-b857-447f7383be35_110x.png?v=1715746296" srcset="{{ section.settings.url4 }}" width="400" height="400" sizes="(min-width: 1536px) 1536px, (min-width: 1024px) 1280px, (min-width: 640px) 768px, calc(100vw/3)" loading="lazy" alt="FTD24_LP-SBR_NEWDAD-1.png__PID:d80bf4ce-ff75-4b64-8197-de19f10cc98f" data-pf-type="Image3" class="sc-gsNilK efdcmA pf-369_ pf-image-1 pf_sbr-image ls-is-cached lazyloaded">
            </div>
        </div>
    </div>

{% schema %}
{
    "name": "Special day collection",
    "settings": [
        {
            "type": "text",
            "id": "special_day_title",
            "label": "Title",
            "default": "WHO’S YOUR FATHER’S DAY HERO ?"
        },
        {
            "type": "text",
            "id": "special_day_description",
            "label": "description",
            "default": "Show appreciation with a heartfelt token. Who will you delight with a gift of thanks?"
        },
        {
            "type": "url",
            "id": "link1",
            "label": "url1"
        },
        {
            "type": "url",
            "id": "link2",
            "label": "url2"
        },
        {
            "type": "url",
            "id": "link3",
            "label": "url3"
        },
        {
            "type": "url",
            "id": "link4",
            "label": "url4"
        }
    ],
    "presets": [
        {
            "name": "Special day collection"
        }
    ]
}
{% endschema %}

{% style %}
  .special-day-collection-container{
        width:100%;
        max-width: 1200px;
        margin:auto;
        padding:0 15px;
    }

    .special-day-collection-container .header-special-day{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .special-day-collection-container .header-special-day .title{
        font-size: 28px;
        line-height: 28px;
    }

    .special-day-collection-container .header-special-day .description{
        color: #323843;
        text-align: center !important;
        font-size: 17px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 20px;
        margin-top: 0 !important;
    }

    .list-collection {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        box-sizing: border-box;
        margin:auto;
        margin-top: 22px;
    }
    .box-collection {
        height: 130px;
        flex: 1 1 calc(25% - 10px);
        display: flex;
        justify-content: start;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        text-align: center;
        border-radius: 12px;
        background: #72a3ff;
        padding: 8px 20px;
        position: relative;
    }
    .box-collection .name-collection {
        margin: 0;
        width: 30px;
        color: #fff !important;
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 24px;
        margin: 1rem 0;
    }

    .box-collection .img-collection {
        width: 100%;
        object-fit: cover;
        object-position: center center;
        height: auto;
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 65% !important;
    }

    @media (max-width: 1024px) {
        .list-collection{
            width:80%;
            gap: 35px;
        }

        .box-collection {
            flex: 1 1 calc(40% - 10px);
        }

        .box-collection .img-collection {
            max-width: 50% !important;
        }
    }

    @media (max-width: 767px) {
        .list-collection{
            width:100%;
            gap: 10px;
        }

        .box-collection {
            height:80px;
            flex: 1 1 calc(40% - 10px);
        }

        .box-collection .img-collection {
            max-width: 110px !important;
        }

        .box-collection .name-collection {
          font-size: 2rem;
          line-height: 19px;
        }
    }
{% endstyle %}
